@use '../../common/commonVariables.scss' as cv;

.registerCont {
    position: relative;
    display: block;
    height: 100vh;

    .inputCont {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
        max-width: 700px;
        padding: 2rem;

        h2 {
            margin-bottom: cv.vw-font(20px, 25px);
        }

        label {
            width: 100%;
            margin-bottom: cv.vw-font(20px, 25px);
        }

        .textArea {
            display: flex;
            width: 100%;
            display: flex;
            height: cv.vw-font(40px, 45px);
            border-bottom: 1px solid #242424;

            input {
                width: 60%;
                height: cv.vw-font(40px, 45px);
                background: none;
                border: none;
                outline: none;
                font-size: cv.vw-font(14px, 18px);
            }

            .inputBtn {
                width: 20%;
                font-size: cv.vw-font(12px, 18px);
            }

        }

        .textAreaId {
            width: 100%;
            display: block;
            height: cv.vw-font(40px, 45px);
            border-bottom: 1px solid #242424;

            .textAreaCont {
                display: flex;

                .checkBtn{
                    cursor: pointer;
                    padding: 0 10px;
                    // background-color: #C4FF53;
                }

                /* 버튼 비활성화 상태 */
                .checkBtn:disabled {
                    // background-color: #ccc;
                    /* 연한 회색 */
                    color: #888;
                    /* 글씨도 연하게 */
                    cursor: not-allowed;
                    /* 클릭 안 되는 느낌 */
                    opacity: 0.6;
                }
            }
        }

        .textAreaId {


            .inputCont {
                display: flex;
            }

            input {
                width: 60%;
                height: cv.vw-font(40px, 45px);
                background: none;
                border: none;
                outline: none;
                font-size: cv.vw-font(14px, 18px);
            }

            .inputBtn {
                width: 20%;
                font-size: cv.vw-font(12px, 18px);
            }

            p {
                line-height: 18px;
                text-align: right;
                font-size: cv.vw-font(12px, 14px);
            }
        }


        .inputName {
            text-align: left;
            width: 20%;
            font-size: cv.vw-font(10px, 15px);
            line-height: cv.vw-font(40px, 45px);
            ;
        }

        .radioBox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .radioLabel {
            width: 100%;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        .radioInput {
            display: none;
        }

        .radioInput:checked+.radioLabel {
            border: 1px solid #8ED800;
            background-color: #e0ffa6;
            color: #468000;
        }

        .submitBtn {
            padding-top: cv.vw-font(10px, 10px);
            padding-bottom: cv.vw-font(10px, 10px);
            width: 100%;
            background-color: #C4FF53;
            border-radius: 5px;
            color: #468000;
        }

        .activeBtn {
            padding-top: cv.vw-font(10px, 10px);
            padding-bottom: cv.vw-font(10px, 10px);
            width: 100%;
            background-color: #C4FF53;
            border-radius: 5px;
            color: #468000;
        }

        .disabledBtn {
            background-color: #ccc;
            /* 비활성화된 상태에서의 배경색 */
            color: #999;
            /* 비활성화된 상태에서의 텍스트 색상 */
            cursor: not-allowed;
            /* 클릭할 수 없다는 표시 */
        }

        .submitBtn:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }


}