/* Rent Plan */
.plan-container {
    display: flex;
    gap: 1.3vw;
    justify-content: space-between;
    margin-bottom: 50px;
}
.plan-box {
    border: 1px solid #f3f3f3;
}
.plan-box:hover {
    background-color: #F9FEF5;
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {

}
@media (max-width: 768px) { /* 태블릿 */
    .plan-container {
        display: flex;
        gap: 1.3vw;
        flex-wrap: wrap;
    }
    .plan-box {
        flex: 1 1 calc(50% - 10px);
    }
}
@media (max-width: 480px) { /* 모바일 */
    .plan-container {
        flex-direction: column;
        gap: 10px !important;
    }
    .plan-box {
        padding: 10px 16px !important;
        width: 100% !important;
        position:relative;
    }
    .plan-title {
        font-size: 12px !important;
    }
    .plan-content {
        position: absolute;
        font-size: 10px !important;
        width: 70%;
    }
}