@use '../../common/commonVariables.scss' as cv;

@mixin white-box() {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: cv.vw-font(15px, 33px) cv.vw-font(27px, 45px);
}
@mixin button-style() {
    border: 1px solid cv.$grey-color;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: cv.vw-font(5px, 8px) cv.vw-font(12px, 15px);
    font-size: cv.$sub-title-font-size;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
@mixin input-style() {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    color: grey;
    padding: 1px;
    padding-left: 5px;
}