
.header {
  width: 100%;
}
.menu {
  width: 100%; height: 85px;
  background: #FFFFFF;
  justify-items: center;
  box-shadow: 0px 4px 3.9px rgba(0, 0, 0, 0.03);
}
.menu-container, .left-menu, .center-menu, .right-menu, .register, .login, .left-center-group { 
  height: 100%; 
  display: flex;
  text-align: center;
  vertical-align:middle;
  align-items: center;
  font-size: clamp(10px, 1.3vw, 20px);
}
.menu-container {
  width: 72%;
  padding: 0 5px;
}
.left-center-group {
  width: 75%;
  justify-content: space-between;
}
.left-menu {
  width: 27%;
  justify-content: left;
}
.center-menu {
  color: #2F2F2F;
  width: 73%;
  justify-content: space-between;
}
.right-menu {
  color: #000000;
  width: 25%;
  justify-content: right;
  gap: 5px;
}

.login, .register, .logout, .my-info {
  padding-top: clamp(5px, 0.9vh, 10px);
  padding-bottom: clamp(5px, 0.9vh, 10px);
  padding-left: clamp(7px, 1.1vw, 12px);
  padding-right: clamp(7px, 1.1vw, 12px);
  width: auto; height: auto;
}
/* 우측메뉴 로그인&회원가입*/
.register {
  border-radius: 100px;
  background: linear-gradient(to left, #afff4f, #DFFF58);
}
/* 우측메뉴 내정보&로그아웃*/
.my-info {
  border-radius: 10px;
  background: linear-gradient(to left, #afff4f, #DFFF58);
}
.logout {
  border-radius: 10px;
  background: rgb(232, 232, 232);
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {
  /* menu */
  .menu {
    height: auto;
  }
  .menu-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-center-group {
    display: flex;
    width: 100% !important; height: 43px;
  }
  .left-menu {
    width: 20% !important;
    order: 1;
  }
  .left-menu img {
    width: 70px !important; height: auto !important;
  }
  .center-menu {
    width: 75% !important;
    order: 2;
  }
  .right-menu {
    width: 100% !important;
    padding-top: 6px;
    order: -1; /* 맨앞으로 이동 */
    justify-content: flex-end;
  }
  .register, .login {
    font-size: clamp(10px, 0.5vw, 10px);
  }
}
@media (max-width: 768px) { /* 태블릿 */

}
@media (max-width: 480px) { /* 모바일 */
  /* menu */
  .menu {
    height: auto;
  }
  .menu-container {
    position: relative;
    width: 87%;
  }
  .left-center-group {
    height: 38px;
  }
  .left-menu img {
    width: 70px !important; height: auto !important;
  }
  .register, .login {
    font-size: clamp(7px, 0.5vw, 10px);
  }
}