.inquiry-container {
    min-width: 1000px;
    max-width: 100%;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
}
  
.inquiry-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    text-align: left;
}
  
.inquiry-list {
    list-style: none;
    padding: 0;
    border-top: 1px solid #eee;
}

.inquiry-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s;
    color: #333;
}
  
.inquiry-item:hover {
    background: #f9f9f9;
}

.inquiry-item-num {
    padding: 2px 20px 2px 0;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}

.inquiry-text {
    display: inline-block;
    max-width: 600px; /* 문의 내용 최대 길이 지정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inquiry-item-tag {
    padding: 2px 10px;
    background-color: #AFFF4F;
    border-radius: 20px;
    margin-left: 5px;
    font-size: 15px;
}
  
.inquiry-link {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    align-items: center;
}
  
.inquiry-meta {
    font-size: 14px;
    color: #666;
}

.inquiry-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.create-inquiry-button{
    padding: 10px 20px;
    background-color: #AFFF4F;
    color: #3A3D50;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.create-inquiry-button:hover {
    background: #3A3D50;
    color: #AFFF4F;
}

.no-list {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}

.page-button {
    padding: 8px 12px;
    border: none;
    background-color: #fff;
    color: #3A3D50;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #3A3D50;
    transition: background 0.1s;
}

.page-button.active {
    background-color: #3A3D50;
    color: #AFFF4F;
    font-weight: bold;
}

.page-button:hover {
    background: #AFFF4F;
    color: #3A3D50;
    border: 1px solid #AFFF4F;
}

.inquiry-notice{
    font-size: 14px;
    color: #aaa;
    text-align: left;
    margin-top: 40px;
}