.inquiry-modify-container {
    min-width: 1000px;
    max-width: 100%;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    text-align: left;
}

.inquiry-modify-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.inquiry-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    padding: 4px 10px;
    background-color: #AFFF4F;
    border-radius: 20px;
    width: fit-content;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    min-height: 400px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-button,
.submit-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.cancel-button {
    background-color: #ccc;
}

.submit-button {
    background-color: #007bff;
    color: white;
}

.inquiry-notice-box{
    font-size: 16px;
    line-height: normal;
    color: #aaa;
    border-radius: 10px;
    border: 1px solid #eee;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}