@use '../../../common/commonVariables.scss' as cv;
@use '../../myPage/commonStyle.scss' as v;

.bottomContent {
    display: flex;
}
p, th, td, input {
    font-size: cv.vw-font(10px, 18px);
    font-weight: 400;
}
.title {
    font-size: cv.$title-font-size;
    margin-bottom: cv.vw-font(13px, 22px);
}

// 면허 사진
.currentPhoto, .changedPhoto {
    display: flex;
    margin-top: 8px;
}

// 버튼
.saveButtonContainer {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    .saveButton {
        @include v.button-style;
        background-color: #f6f8fa;
        border: 1px solid #d1d9e0;
    }
}

// 내용 변경 시 input 테두리 변경
.normalInput {
    @include v.input-style;
}
.changedInput {
    @include v.input-style;
    color: rgb(109, 173, 0);
}

// 프로필 수정 컨테이너
.licenseModifyContainer {
    @include v.white-box;
    margin-top: cv.vw-font(30px, 40px);
    border: 1px solid #f3f3f3;
    h4 {
        font-size: cv.$title-font-size;
        text-align: left;
    }
    .textInput{
        border: none;
        outline: none;
    }
    .dateInput1, .dateInput2{
        width: 50%;
        outline: none;
        border: none;
        border-bottom: 1px solid #333;
    }
    .dateInput2{
    }

}

/* 미디어 쿼리 */
@media (max-width: 1200px) {
    
}
@media (max-width: 768px) { /* 태블릿 */
    .bottomContent {
        flex-direction: column;
    }
}
@media (max-width: 480px) { /* 모바일 */

}