@use '../../../common/commonVariables.scss' as cv;
@use '../../myPage/commonStyle.scss' as v;

.myInfoManagement {
    margin-bottom: cv.vw-font(22px, 35px);

    .bottomContent {
        display: flex;
        text-align: left;
    }
}
.title {
    font-size: cv.$title-font-size;
    margin-bottom: cv.vw-font(13px, 22px);
}
.subTitle {
    font-size: cv.$sub-title-font-size;
    margin-bottom: cv.vw-font(7px, 10px);
}
p, th, td {
    font-size: cv.vw-font(10px, 18px);
    font-weight: 400;
}

// 유저 프로필
.profile {
    @include v.white-box;
    border: 1px solid #f0f0f0;
}

table {
    border-collapse: collapse; // 테두리 겹침
    width: 100%;

    th, td {
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        padding: cv.vw-font(8px, 12px);
    }
    th {
        background-color: #F5F5F5;
        text-align: right;
        width: 15%;
    }
    td {
        text-align: left;
    }
}

.profileChange {
    margin-top: cv.vw-font(8px, 12px);
    display: flex;
    justify-content: right;
    
    .profileChangeButton {
        @include v.button-style;
    }
}

// 면허 정보 등록
.licenseInfoContainer {
    @include v.white-box;
    border: 1px solid #f0f0f0;
}
.licenseInfoContent {
    display: flex;
    gap: cv.vw-font(23px, 45px);
}
/*  면허증 */
.license {
    max-width: 378px;
    min-width: 180px;
    box-sizing: content-box;
    padding: cv.vw-font(12px, 25px) cv.vw-font(22px, 28px);
    background: cv.$gradient-color;
    display: flex;
    gap: cv.vw-font(15px, 18px);
    border-radius: 20px;
    flex-wrap: wrap;
}
.licenseDetailInfo {
    display: flex;
    flex-direction: column;
    gap: cv.vw-font(3px, 4px);
    width: auto;
}
/* 면허 정보 */
.info {
    margin-top: cv.vw-font(12px, 20px);
}
.infoBox {
    display: flex;
    gap: cv.vw-font(10px, 20px);
    .infoDetailTitle {
        color: cv.$grey-color;
    }
}
.infoDetailTitle, .infoDetail {
    display: flex;
    flex-direction: column;
    gap: cv.vw-font(5px, 8px);
}
/* 면허정보수정 버튼 */
.infoChange {
    height: 100%;
    margin-left: auto;
    margin-top: auto;
    
    .infoChangeButton {
        @include v.button-style;
    }
}

.noLicenseContainer{
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #f3f3f3;

    p{
        text-align: center;
        margin-bottom: 10px;
    }

    button{
        width: 100%;
        background-color: #C4FF53;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
}

// 이용약관
.termsOfUse {
    margin: cv.vw-font(10px, 20px) cv.vw-font(8px, 15px);
    color: cv.$grey-color;

    h6 {
        font-size: cv.vw-font(10px, 18px);
        margin-bottom: cv.vw-font(10px, 12px);
    }
    p {
        text-align: justify;
    }
}

.deleteCont{
    background-color: #fff;
    border: 1px solid #f3f3f3;
    padding: 30px 40px;
    border-radius: 10px;

    p{
        color: #9d9d9d;
        font-size: 12px;
    }
}
.deleteAccountContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #f3f3f3;
    span{
        line-height: 28px;
        font-size: 14px;
    }
}
.deleteButton{
    font-size: 14px;
    padding: 5px 10px;
    color: red;
    text-align: left;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}
.deleteButton:hover{
        background-color: #a13d3d;
        color: #fff;
}
/* 미디어 쿼리 */
@media (max-width: 1200px) {
    table {
        th {
            width: 20%;
        }
    }

    .licenseInfoContent {
        flex-direction: column;
    }
    .license {
        max-width: 300px;
    }
    
    .info {
        margin: 0 0;
        margin-left: cv.vw-font(12px, 20px);
    }
}
@media (max-width: 768px) { /* 태블릿 */
    table {
        th {
            width: 27%;
        }
    }
    .bottomContent {
        flex-direction: column;
    }
}
@media (max-width: 480px) { /* 모바일 */
    table {
        th {
            width: 30%;
        }
    }
}