/* 렌트위치 팝업창 */
.pos-popup-container {
    position: fixed;
    width: 30%;
    height: 72%;
    max-height: 500px; /* 최대 높이 제한 */
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 자식 요소가 넘지 않도록 설정 */
}

.top-title-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    text-align: left;
    margin: clamp(10px, 1.5vh, 18px) clamp(12px, 1.5vw, 20px);
}

.region-list {
    display: flex;
    width: 100%; /* 부모 요소가 넘지 않도록 100% 설정 */
    height: 100%; /* 부모 크기에 맞게 높이 설정 */
    overflow: hidden; /* 부모 요소를 넘지 않도록 설정 */
}
.region-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* 부모 크기에 맞춰 자동 조절 */
    background-color: #F3F3F3;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
    max-height: 100%; /* 부모 요소를 넘지 않도록 설정 */
}
.region-container > div {
    border-radius: 5px;
}

.city-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* 부모 크기에 맞춰 자동 조절 */
    background-color: #ffffff;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
    max-height: 100%; /* 부모 요소를 넘지 않도록 설정 */
}

.pos-popup-container button {
    border: none;
    width: 13%;
    border-radius: 7px;
    margin-left: 3%;
    padding: 2px 4px;
    font-size: clamp(13px, 1.1vw , 18px);
    background-color: #DEFF54;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}

/* 스크롤바 */
.pos-popup-container ::-webkit-scrollbar { /* 스크롤바 전체 영역 */
    width: 8px;
}

.pos-popup-container ::-webkit-scrollbar-track { /* 스크롤바 트랙 (배경) */
    background: #ffffff;
    border-radius: 10px;
}

.pos-popup-container ::-webkit-scrollbar-thumb { /* 스크롤바 막대기 (thumb) */
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ffffff;
    height: 100px;
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {

}
@media (max-width: 768px) { /* 태블릿 */
    .pos-popup-container {
        width: 50%;
    }
}
@media (max-width: 480px) { /* 모바일 */
    .pos-popup-container {
        width: 90%;
    }
}